POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

JWT_SECRET=

MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_REGION=ru-central1
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

CACHE_IS_GLOBAL=true
REDIS_TTL=30000
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_ADDRESS=redis://:redispassword@localhost:6379 # CHANGE
REDIS_PASSWORD=redispassword # CHANGE