POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

JWT_SECRET=

MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_REGION=ru-central1
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

CACHE_TTL=60_000
CACHE_IS_GLOBAL=true